<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zync Dash</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="screen">
        {% block nav %}
            <div class="nav">
                <a href="/">
                    <div class="logo">
                        <span class="material-symbols-rounded">directory_sync</span>
                    </div>
                </a>
                <div class="links">
                    <a href="/" class="link">
                        <span class="material-symbols-rounded">house</span>
                    </a>
                    <a href="/wetter" class="link">
                        <span class="material-symbols-rounded">sunny</span>
                    </a>
                    <a href="#" class="link">
                        <span class="material-symbols-rounded">battery_charging_full</span>
                    </a>
                    <a href="#" class="link">
                        <span class="material-symbols-rounded">solar_power</span>
                    </a>
                    <a href="#" class="link">
                        <span class="material-symbols-rounded">share</span>
                    </a>
                    <a href="#" class="link">
                        <span class="material-symbols-rounded">tune</span>
                    </a>
                    <a href="#" class="link">
                        <span class="material-symbols-rounded">person</span>
                    </a>
                </div>
            </div>
        {% endblock %}
        
        {% block frame %}
            <div class="frame">
                <h1 class="title">{% block title %}{% endblock %}</h1>

                {% block smallpanels %}{% endblock %}
                {% block bigpanel %}{% endblock %}
            </div>
        {% endblock %}
    </div>
</body>
</html>
